@import "/src/styles/mixins";
@import "/src/styles/pallete";

.container {
    margin-inline: auto;
    width: 100%;
    max-width: 1131px;
    padding: 24px;
    .grid {
        display: grid;
        grid-template-columns: 264px minmax(0, 1fr);
        align-items: start;
        gap: 24px;
        .cardsWrapper {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 18px;
        }
    }
}
